
.page-body {
	width: 100%;
}
.pageyTypearea {
	width: 1040px;
	margin: 0 auto;
	min-width: 1000px;
	margin-bottom: 43px;
}
.page-banner {
	width: 100%;
	height: 495px;
	position: relative;
	background: url(../images/gen/02/01.jpg) no-repeat;
	overflow: hidden;
	background-size: 100% 100%;
}
/*  */
.page-detail-wrap {
	background: url(../images/gen/03/bg.png) no-repeat 0px 0px;
	background-size: contain;
}

.page-nav {
	margin: 29px 0 55px 0;
	font-size: 12px;
}

.page-nav>dl {
	display: flex;
	font-weight: 700;
	color: #7c4e23;
}

.page-nav>dl>dd {
	position: relative;
	margin: 0 6px;
}

.page-nav>dl>dd>:after {
	content: ">";
	display: block;
	position: absolute;
	top: 0;
	right: -11px;
}

.page-nav>dl>dd:last-child>:after {
	display: none;
}

.page-nav>dl>dd>a {
	color: #999999;
}

.page-nav>dl>dd.active>a {
	color: #7c4e23;
}

/*  */

.page-detail {
	display: flex;
	justify-content: space-between;
}

.detail-text {
	width: 480px;
	height: 447px;
}

.detail-text-title {
	width: 300px;
	height: 27px;
	border-bottom: 1px solid #7c4e23;
	display: flex;
}

.detail-text-title .caret-top {
	margin-top: -19px;
	width: 50px;
	height: 49px;
	background: url(../images/gen/02/caret-wrap.png) no-repeat center;
}

.detail-text-title .caret-top span {
	display: block;
	width: 50px;
	height: 60px;
	background: url(../images/gen/02/caret-inner.png) no-repeat center 1.5vw;
}

.detail-text-title h3 {
	font-size: 16px;
	font-weight: bold;
	color: #7c4e23;
}

.detail-text-area-top {
	display: flex;
	font-weight: bold;
	color: #999999;
	margin-top: 42px;
}

.detail-text-area-top>p {
	display: flex;
	color: #333333;
	width: 70px;
}

.detail-text-area-top>p span {
	width: 40px;
}

.detail-text-area-top>ul {
	width: 80%;
	font-size: 12px;
}

.detail-text-area-top>ul>li {
	line-height: 24px;
	margin-bottom: 13px;
	text-indent: 2em;
}

.detail-text-area-bottom {
	display: flex;
	font-weight: bold;
	color: #999999;
	font-size: 12px;
	margin: 32px 0 22px 0;
	justify-content: space-between;
	box-sizing: border-box;
	padding-right: 30px;
}

.detail-text-area-bottom>ul:nth-child(1) {}

.detail-text-area-bottom>ul>li {
	margin-bottom: 16px;
	display: flex;
}

.detail-text-area-bottom>ul>li p {
	display: flex;
	color: #333333;
	width: 70px;
}

.detail-text-area-bottom>ul>li p span {}

.detail-text-area-bottom>ul>li span:nth-child(2) {}

/*  */
.detail-img {
	width: 536px;
	display: flex;
	justify-content: space-between;
}

.detail-img>figure {
	width: 331px;
	height: 460px;
}

.detail-img>figure img {
	display: block;
	width: 100%;
	height: 100%;
}

.detail-img ul li {
	width: 218px;
	height: 146px;
	margin-bottom: 11px;
}

.detail-img ul li img {
	display: block;
	width: 100%;
	height: 100%;
}

@media screen and (max-width:1200px) and (min-width:992px) {
	
	.page-body {
		width: 100%;
	}
	.page-detail-wrap {
		box-sizing: border-box;
		padding: 0 52px;
		background: url(../images/gen/03/bg.png) no-repeat 0px 0px;
		background-size: 100% 200px;
	}
	.pageyTypearea {
		width: 857px;
		min-width: 800px;
		margin: 0 auto;
		margin-bottom: 43px;
	}
	.page-banner {
		width: 100%;
		height: 316px;
		position: relative;
		background: url(../images/gen/02/01.jpg) no-repeat;
		overflow: hidden;
		background-size: 100% 100%;
	}
	/*  */
	
	
	.page-nav {
		margin: 29px 0 40px 0;
		font-size: 12px;
	}
	
	.page-nav>dl {
		display: flex;
		font-weight: 700;
		color: #7c4e23;
	}
	
	.page-nav>dl>dd {
		position: relative;
		margin: 0 6px;
	}
	
	.page-nav>dl>dd>:after {
		content: ">";
		display: block;
		position: absolute;
		top: 0;
		right: -11px;
	}
	
	.page-nav>dl>dd:last-child>:after {
		display: none;
	}
	
	.page-nav>dl>dd>a {
		color: #999999;
	}
	
	.page-nav>dl>dd.active>a {
		color: #7c4e23;
	}
	
	/*  */
	
	.page-detail {
		display: flex;
		justify-content: space-between;
	}
	
	.detail-text {
		width: 395px;
		height: 447px;
	}
	
	.detail-text-title {
		width: 300px;
		height: 27px;
		border-bottom: 1px solid #7c4e23;
		display: flex;
	}
	
	.detail-text-title .caret-top {
		margin-top: -19px;
		width: 46px;
		height: 50px;
		background: url(../images/gen/02/caret-wrap.png) no-repeat center;
	}
	
	.detail-text-title .caret-top span {
		display: block;
		width: 45px;
		height: 60px;
		background: url(../images/gen/02/caret-inner.png) no-repeat center 23px;
	}
	
	.detail-text-title h3 {
		font-size: 16px;
		font-weight: bold;
		color: #7c4e23;
	}
	
	.detail-text-area-top {
		box-sizing: border-box;
		padding-right:26px;
		display: flex;
		font-weight: bold;
		color: #999999;
		margin-top: 20px;
	}
	
	.detail-text-area-top>p {
		display: flex;
		color: #333333;
		width: 67px;
	}
	
	.detail-text-area-top>p span {
		width: 40px;
	}
	
	.detail-text-area-top>ul {
		width: 80%;
		font-size: 12px;
	}
	
	.detail-text-area-top>ul>li {
		line-height: 24px;
		margin-bottom: 0px;
		text-indent: 2em;
	}
	
	.detail-text-area-bottom {
		display: flex;
		font-weight: bold;
		color: #999999;
		font-size: 12px;
		margin: 24px 0 22px 0;
		justify-content: space-between;
		box-sizing: border-box;
		padding-right: 30px;
	}
	
	.detail-text-area-bottom>ul:nth-child(1) {}
	
	.detail-text-area-bottom>ul>li {
		margin-bottom: 16px;
		display: flex;
	}
	
	.detail-text-area-bottom>ul>li p {
		display: flex;
		color: #333333;
		width: 70px;
	}
	
	.detail-text-area-bottom>ul>li p span {}
	
	.detail-text-area-bottom>ul>li span:nth-child(2) {}
	
	/*  */
	.detail-img {
		width: 462px;
		display: flex;
		justify-content: space-between;
	}
	
	.detail-img>figure {
		width: 273px;
		height: 377px;
	}
	
	.detail-img>figure img {
		display: block;
		width: 100%;
		height: 100%;
	}
	
	.detail-img ul li {
		width: 180px;
		height: 119px;
		margin-bottom: 11px;
	}
	
	.detail-img ul li img {
		display: block;
		width: 100%;
		height: 100%;
	}
}
@media screen and (max-width:992px) and (min-width:768px){
	
	.page-body {
		width: 100%;
	}
	.page-detail-wrap {
		box-sizing: border-box;
		padding: 0 52px;
		background: url(../images/gen/03/bg.png) no-repeat 0px 0px;
		background-size: 100% 150px;
	}
	.pageyTypearea {
		width: 664px;
		min-width: 600px;
		margin: 0 auto;
		margin-bottom: 43px;
	}
	.page-banner {
		width: 100%;
		height: 316px;
		position: relative;
		background: url(../images/gen/02/01.jpg) no-repeat;
		overflow: hidden;
		background-size: 100% 100%;
	}
	/*  */
	
	
	.page-nav {
		margin: 29px 0 40px 0;
		font-size: 12px;
	}
	
	.page-nav>dl {
		display: flex;
		font-weight: 700;
		color: #7c4e23;
	}
	
	.page-nav>dl>dd {
		position: relative;
		margin: 0 6px;
	}
	
	.page-nav>dl>dd>:after {
		content: ">";
		display: block;
		position: absolute;
		top: 0;
		right: -11px;
	}
	
	.page-nav>dl>dd:last-child>:after {
		display: none;
	}
	
	.page-nav>dl>dd>a {
		color: #999999;
	}
	
	.page-nav>dl>dd.active>a {
		color: #7c4e23;
	}
	
	/*  */
	
	.page-detail {
		display: flex;
		justify-content: space-between;
	}
	
	.detail-text {
		width: 305px;
		height: 447px;
	}
	
	.detail-text-title {
		width: 300px;
		height: 27px;
		border-bottom: 1px solid #7c4e23;
		display: flex;
	}
	
	.detail-text-title .caret-top {
		margin-top: -19px;
		width: 46px;
		height: 50px;
		background: url(../images/gen/02/caret-wrap.png) no-repeat center;
	}
	
	.detail-text-title .caret-top span {
		display: block;
		width: 45px;
		height: 60px;
		background: url(../images/gen/02/caret-inner.png) no-repeat center 23px;
	}
	
	.detail-text-title h3 {
		font-size: 16px;
		font-weight: bold;
		color: #7c4e23;
	}
	
	.detail-text-area-top {
		box-sizing: border-box;
		padding-right:26px;
		display: flex;
		font-weight: bold;
		color: #999999;
		margin-top: 20px;
	}
	
	.detail-text-area-top>p {
		display: flex;
		color: #333333;
		width: 67px;
	}
	
	.detail-text-area-top>p span {
		width: 40px;
	}
	
	.detail-text-area-top>ul {
		width: 80%;
		font-size: 12px;
	}
	
	.detail-text-area-top>ul>li {
		line-height: 24px;
		margin-bottom: 0px;
		text-indent: 2em;
	}
	
	.detail-text-area-bottom {
		display: flex;
		font-weight: bold;
		color: #999999;
		font-size: 12px;
		margin: 0px 0 22px 0;
		justify-content: space-between;
		box-sizing: border-box;
		padding-right: 30px;
	}
	
	.detail-text-area-bottom>ul:nth-child(1) {}
	
	.detail-text-area-bottom>ul>li {
		margin-bottom: 16px;
		display: flex;
	}
	
	.detail-text-area-bottom>ul>li p {
		display: flex;
		color: #333333;
		width: 70px;
	}
	
	.detail-text-area-bottom>ul>li p span {}
	
	.detail-text-area-bottom>ul>li span:nth-child(2) {}
	
	/*  */
	.detail-img {
		width: 358px;
		display: flex;
		justify-content: space-between;
	}
	
	.detail-img>figure {
		width: 211px;
		height: 301px;
	}
	
	.detail-img>figure img {
		display: block;
		width: 100%;
		height: 100%;
	}
	
	.detail-img ul li {
		width: 140px;
		height: 93px;
		margin-bottom: 11px;
	}
	
	.detail-img ul li img {
		display: block;
		width: 100%;
		height: 100%;
	}
}
@media screen and (max-width:768px) {
	.page-body {
		width: 100%;
	}
	.page-detail-wrap {
		box-sizing: border-box;
		padding: 0 12px;
		background: url(../images/gen/03/bg.png) no-repeat 0px 0px;
		background-size: 100% 80px;
	}
	.pageyTypearea {
		width: 300px;
		min-width: 300px;
		margin: 0 auto;
		margin-bottom: 43px;
	}
	.page-banner {
		width: 100%;
		height: 140px;
		position: relative;
		background: url(../images/gen/02/01.jpg) no-repeat;
		overflow: hidden;
		background-size: 100% 100%;
	}
	/*  */
	
	
	.page-nav {
		margin: 20px 0;
		font-size: 12px;
	}
	
	.page-nav>dl {
		display: flex;
		flex-direction: column;
		font-weight: 700;
		color: #7c4e23;
	}
	
	.page-nav>dl>dd {
		position: relative;
		margin: 5px 6px;
	}
	
	.page-nav>dl>dd>:after {
		content: ">";
		display: block;
		position: absolute;
		top: 0;
		right: 224px;
	}
	
	.page-nav>dl>dd:last-child>:after {
		display: none;
	}
	
	.page-nav>dl>dd>a {
		color: #999999;
	}
	
	.page-nav>dl>dd.active>a {
		color: #7c4e23;
	}
	
	/*  */
	
	.page-detail {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	
	.detail-text {
		width: 305px;
		height: 440px;
	}
	
	.detail-text-title {
		width: 300px;
		height: 27px;
		border-bottom: 1px solid #7c4e23;
		display: flex;
	}
	
	.detail-text-title .caret-top {
		margin-top: -19px;
		width: 46px;
		height: 50px;
		background: url(../images/gen/02/caret-wrap.png) no-repeat center;
	}
	
	.detail-text-title .caret-top span {
		display: block;
		width: 45px;
		height: 60px;
		background: url(../images/gen/02/caret-inner.png) no-repeat center 23px;
	}
	
	.detail-text-title h3 {
		font-size: 16px;
		font-weight: bold;
		color: #7c4e23;
	}
	
	.detail-text-area-top {
		box-sizing: border-box;
		padding-right:26px;
		display: flex;
		font-weight: bold;
		color: #999999;
		margin-top: 20px;
	}
	
	.detail-text-area-top>p {
		display: flex;
		color: #333333;
		width: 67px;
	}
	
	.detail-text-area-top>p span {
		width: 40px;
	}
	
	.detail-text-area-top>ul {
		width: 80%;
		font-size: 12px;
	}
	
	.detail-text-area-top>ul>li {
		line-height: 24px;
		margin-bottom: 0px;
		text-indent: 2em;
	}
	
	.detail-text-area-bottom {
		display: flex;
		font-weight: bold;
		color: #999999;
		font-size: 12px;
		margin: 10px 0 22px 0;
		justify-content: space-between;
		box-sizing: border-box;
		padding-right: 30px;
	}
	
	.detail-text-area-bottom>ul:nth-child(1) {}
	
	.detail-text-area-bottom>ul>li {
		margin-bottom: 16px;
		display: flex;
	}
	
	.detail-text-area-bottom>ul>li p {
		display: flex;
		color: #333333;
		width: 70px;
	}
	
	.detail-text-area-bottom>ul>li p span {}
	
	.detail-text-area-bottom>ul>li span:nth-child(2) {}
	
	/*  */
	.detail-img {
		width: 300px;
		display: flex;
		justify-content: space-between;
	}
	
	.detail-img>figure {
		width: 155px;
		height: 290px;
	}
	
	.detail-img>figure img {
		display: block;
		width: 100%;
		height: 100%;
	}
	
	.detail-img ul li {
		width: 140px;
		height: 93px;
		margin-bottom: 5px;
	}
	
	.detail-img ul li img {
		display: block;
		width: 100%;
		height: 100%;
	}
}